
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #f0efea;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
kbd {
  border-radius: 3px;
  padding: 2px 6px;
  margin: 0 6px;
  border: 1px solid rgb(114, 114, 114);
  background-color: rgb(247, 247, 247);
  box-shadow: 
    inset 0 -2px 0 rgba(0,0,0,0.1),
    0 1px 1px rgba(255,255,255,0.6);
}

kbd[data-key="Space"] {
  padding: 2px 8px;
}

kbd[data-key="Space"]::before {
  font-family: sans-serif;
  content: '␣ ';
}


kbd[data-key="Shift"]::before {
  font-family: sans-serif;
  content: '⇧ ';
}