
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --rhythm-color-1: rgb(59, 130, 246);
  --rhythm-color-2: rgb(16, 185, 129);
  --rhythm-color-3: rgb(239, 68, 68);
  --rhythm-color-4: rgb(217, 119, 6);
  --rhythm-color-5: rgb(139, 92, 246);

}

kbd {
  border-radius: 3px;
  padding: 2px 6px;
  margin: 0 6px;
  border: 1px solid rgb(114, 114, 114);
  background-color: rgba(247, 247, 247, 0.2);
  box-shadow: 
    inset 0 -2px 0 rgba(0,0,0,0.1),
    0 1px 1px rgba(255,255,255,0.6);
}

kbd[data-key="Space"] {
  padding: 2px 8px;
}

kbd[data-key="Space"]::before {
  font-family: sans-serif;
  content: '␣ ';
}


kbd[data-key="Shift"]::before {
  font-family: sans-serif;
  content: '⇧ ';
}
